<a href="https://colab.research.google.com/github/E-i-n-z-e-l/Lecture_5_Python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача №61. Общее обсуждение
1. Определить какое максимальное и минимальное
значение median_house_value
2. Показать максимальное median_house_value, где
median_income = 3.1250
3. Узнать какая максимальная population в зоне
минимального значения median_house_value

In [1]:
import pandas as pd

In [22]:
data_frame = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [23]:
data_frame['median_house_value'].max()

500001.0

In [24]:
data_frame['median_house_value'].min()

22500.0

In [25]:
data_frame[data_frame['median_income'] == 3.1250]['median_house_value'].max()

233300.0

Находим минимальное

In [26]:
data_frame['median_house_value'].min()

22500.0

Находим несколько минимальных значений.

In [27]:
data_frame['median_house_value'][data_frame['median_house_value'] == 22500.0]

2001    22500.0
Name: median_house_value, dtype: float64

In [28]:
data_frame[data_frame['median_house_value'] == 22500.0]['population']

2001    1230.0
Name: population, dtype: float64